@import '../../styles/variables';

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1d1d1d1c;
  backdrop-filter: blur(2px) brightness(80%);
  z-index: 1300;
}

.content {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  padding: 2rem;
  height: 100vh;
  background-color: white;
  z-index: 2000;
}

.close {
  background-color: $navbar ;
  display: flex ;
  align-items: center ;
  cursor: pointer ;
  border: none ;
  width: 3rem ;
  height: 3rem ;
  border-radius: 50% !important;
}

.close:hover {
  background-color: $grey !important;
}

.close svg {
  fill: $navbar;
}

.cartitems {
  width: 100%;
  height: 85%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 50%;
  }
}

@media screen and (max-width: 990px) {
  .content {
    width: 70%;
  }
}
