.background{
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.089);
backdrop-filter: blur(2px) brightness(80%);
z-index: 1300;

}

.content{
position: absolute;
right: 0;
top: 0;
width: 35%;
padding: 2rem;
height: 100vh;
background-color: white;
z-index: 2000;
}

.close{
  background-color: rgba(71, 71, 71, 0.171) !important;
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  border: none !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 50% !important;
}

.close:hover{
  background-color: rgba(71, 71, 71, 0.397) !important;
}

.close svg{
  fill: rgba(71, 71, 71, 0.397);
}