$dark:#101010;
$faded: #dfdddd99;
$greydark:#cacaca;
$dark-text:#555;
$greyborder:#c4c4c4;
 

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-image {
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-meta {
    width: 100%;
  }

  &-title {
    font-size: medium;
    text-transform: uppercase;

    a {
      color: $dark-text;
      line-height: 1.4em;

      &:hover {
        color: $dark-text;
        text-decoration: none;
        border-bottom: 1px solid $dark;
        margin-bottom: 4px;
      }
    }
  }
  // &-container{}

  // &-price{}

  &-action {
    background-color: $faded !important;
    border-color: $dark !important;

    &:hover {
      background-color: $greydark !important;
    }
  }
}
