@import './variables';
.breadcrumb{
 background-color: transparent !important;
 padding-top: 2rem !important;
    a{
      color: $dark;
    }
   
}

.separator-bottom{
  border-width: 0;
  border-color: #dddddd;
  border-style: solid;
  border-bottom-width: 1px;
}