
.btn-flat {
  background-color: $green;
  border: none;
  color: white;
  text-transform: uppercase;
}

.btn-grey {
  background-color: $grey;
  border: $greyborder;
  color: $dark;
  text-transform: uppercase;
}

.btn-grey:hover {
  text-decoration: none;
  color: $dark;
  background-color: $greydark;
}

.btn-flat:hover {
  text-decoration: none;
  color: white;
  background-color: $greendark;
}

.btn-white {
  color: $dark !important;
  background-color: #fff !important;
  border-color: #fff;
  text-transform: uppercase;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.dropdown-toggle{
  
  border-radius: 0 ;
}
