
:root {
  --dark:#101010;
  --navbar: #101010f2;
  --faded: #ffffff99;
  --green: #4F944F;
  --greendark:#427b42;
  --grey: #dddddd;
  --greydark:#cacaca;
  --greyborder:#c4c4c4;
  --lg-br: 990px;
}

/*  */

 a{
  cursor: pointer;
  text-decoration: none;
}

.faded{
  color: var(--faded);
}

.faded:hover{
  color: white !important;
}


.btn-flat {
  background-color: var(--green);
  border: none;
  color: white;
  text-transform: uppercase;
}

.btn-grey {
  background-color: var(--grey);
  border: var(--greyborder);
  color: var(--dark);
  text-transform: uppercase;
}

.btn-grey:hover{
  text-decoration: none;
  color: var(--dark);
  background-color: var(--greydark);
}

.btn-flat:hover{
  text-decoration: none;
  color: white;
  background-color: var(--greendark);
}

.pb-10, .py-10 {
  padding-bottom: 6.25rem !important;
}

.pt-10, .py-10 {
  padding-top: 6.25rem !important;
}