@import '../../styles/variables';

.navbar {
  width: 100%;
  min-height: 5rem;
}

.header {
  background: $dark;
}

.logo svg {
  height: 3rem;
  width: 200px;
}

.cart {
  border: 2px solid white;
}

.svg {
  fill: #fff9;
  margin-right: 5px;
}

.svg svg {
  display: flex;
  width: 1rem;
  height: 1rem;
}

.quantity {
  padding: 5px;
  margin-left: 20px;
}
