@import '../../styles/variables';

.navbar {
  width: 100%;
  min-height: 5rem;
  position: fixed !important;
 z-index: 25000;
 transition: all .4s ease-in-out;
}


.scrolled-down{
  transform:translateY(-100%);
   transition: all 0.3s ease-in-out;
}

.scrolled-up{
  transform:translateY(0);
   transition: all 0.3s ease-in-out;
}
.black{
  background: $dark ;
}
 
.transparent{
  background: #00000000;
}
.logo svg {
  height: 3rem;
  width: 200px;
}

.cart {
  border: 2px solid white;
}

.svg {
  fill: #fff9;
  margin-right: 5px;
}

.svg svg {
  display: flex;
  width: 1rem;
  height: 1rem;
}

.quantity {
  padding: 5px;
  margin-left: 20px;
}
